---
title: false
styles: true
---

// Set main fonts
$header-font: "'Lato', sans-serif";
$body-font: "'PT Sans', sans-serif";

// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #797986;

// Text colours
$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: #797986;
$hoverColour: #33334d;
$focusColour: #fa407a;
$captionColour: #a8adac;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: $body-font,
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: $header-font,
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
);

@import "alembic";

@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  /*transition: max-height .5s cubic-bezier(0, 1, 0, 1);*/
&.show {
    max-height: 99em;
    /*transition: max-height .5s ease-in-out;*/
  }
}
