---
---
{{reference}}

<!-- {% if entry.abstract %}
<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">Abstract</label>
  <div class="collapsible-content">
    <div class="content-inner">
      {{entry.abstract}}
    </div>
  </div>
</div>
{% endif %}

{% if entry.abstract %}
<div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">Bibtex</label>
  <div class="collapsible-content">
    <div class="content-inner">
      {{entry.bibtex}}
    </div>
  </div>
</div>
{% endif %}

<a href="{{entry.url}}">[Download PDF]</a> -->

<div id="{{key}}-materials">
<ul class="nav nav-pills">
{% if entry.abstract %}
<li><a data-toggle="collapse" href="#{{key}}-abstract">[Abstract]</a></li>
{% endif %}
<li><a data-toggle="collapse" href="#{{key}}-bibtex">[BibTeX]</a></li>
<li><a href="{{entry.url}}">[Download PDF]</a></li>
</ul>

{% if entry.abstract %}
<p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
{% endif %}
<pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre>
</div>