---
---
{{reference}}

<div id="{{key}}-materials">

{% if entry.abstract %}
<button class="btn btn-primary button-{{key}}-abstract" data-toggle="collapse" data-target=".collapse.{{key}}-abstract" data-text="Collapse">Abstract</button>
{% endif %}
<button class="btn btn-primary button-{{key}}-bibtex" data-toggle="collapse" data-target=".collapse.{{key}}-bibtex" data-text="Collapse">BibTeX</button>
<a class="button" href="{{entry.url}}">Download PDF</a>

{% if entry.abstract %}
<div class="block collapse {{key}}-abstract">
  <div class="block__content" style="font-size:0.75em;line-height:1.5;">
    {{entry.abstract}}
  </div>
</div>
{% endif %}

<div class="block collapse {{key}}-bibtex">
  <div class="block__content">
  <pre style="font-size:0.6em;line-height: 1.5;">{{entry.bibtex}}</pre>
</div>
</div>

</div>