<!DOCTYPE html>
<html lang="en-US">
  <head>
	  {% include head.html %}
    {% comment %}
    <!-- start bibliography metadata -->
    {% include entry_metadata.html entry=page.entry %}
    <!-- end bibliography metadata -->
    {% endcomment %}
  </head>

  <body>
    {% include nav.html %}

    <div class="container rounded bg-body">	   
      <main class="my-2 p-4" aria-label="Content">
        <article class="article article--page content typeset">
          <h1>{{ page.entry.title }}</h1>
          <h4>{% include author_names.html entry=page.entry %}</h4>
          <p>{{ page.entry.booktitle }}</p>
          <ul>
            {% if page.entry.year %}<li>Year: {{ page.entry.year }}</li>{% endif %}
            {% if page.entry.address %}<li>Location: {{ page.entry.address }}</li>{% endif %}
            {% if page.entry.track %}<li>Track: {{ page.entry.track }}</li>{% endif %}
            {% if page.entry.pages %}<li>Pages: {{ page.entry.pages | replace: "--", "&ndash;"}}</li>{% endif %}
            {% if page.entry.articleno %}<li>Article Number: {{ page.entry.articleno }}</li>{% endif %}
            {% if page.entry.keywords %}<li>Keywords: {{ page.entry.keywords }}</li>{% endif %}
            {% if page.entry.doi %}<li>DOI: <a href="https://doi.org/{{page.entry.doi}}">{{ page.entry.doi }} (Link to paper)</a></li>{% endif %}
            {% if page.entry.url %}<li><a href="{{ page.entry.url }}">PDF link</a></li>{% endif %}
            {% if page.entry.presentation-video %}<li><a href="{{ page.entry.presentation-video }}">Presentation Video</a></li>{% endif %}
            {% if page.entry.urlsuppl1 %}<li><a href="{{ page.entry.urlsuppl1 }}">Supplementary File 1: {{ page.entry.urlsuppl1 | split: "/" | last}}</a></li>{% endif %}
            {% if page.entry.urlsuppl2 %}<li><a href="{{ page.entry.urlsuppl2 }}">Supplementary File 2: {{ page.entry.urlsuppl2 | split: "/" | last}}</a></li>{% endif %}
            {% if page.entry.urlsuppl3 %}<li><a href="{{ page.entry.urlsuppl3 }}">Supplementary File 3: {{ page.entry.urlsuppl3 | split: "/" | last}}</a></li>{% endif %}
          </ul>
          {% comment %}
          <!-- Alternative format for DOI and URL that displays URL only if DOI is not available -->
          {% if page.entry.doi %}<li>DOI: <a href="https://doi.org/{{page.entry.doi}}">{{ page.entry.doi }} (Link to paper)</a></li>
          {% elsif page.entry.url %}<li><a href="{{ page.entry.url }}">PDF link</a></li>{% endif %}
          <!-- Only use if trying to save bandwidth. -->
          {% endcomment %}
          <h2>Abstract:</h2>
          <p>{{ page.entry.abstract }}</p>
          <h2>Citation:</h2>
          {% include citation.html entry=page.entry %}
          <h2>BibTeX Entry:</h2>
  <pre>
  {{ page.entry.bibtex }}
  </pre>
        </article>
      </main>
    </div>

    {% include footer.html %}
    {% fa_svg_generate %}
    {% include scripts.html %}
  </body>
</html>
